:root {
  --error: red;
  --button: rgb(45, 97, 251);
  --button-hover: rgb(34, 74, 195);
  --success: rgb(218, 248, 217);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
  padding: 32px;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 32px;
  width: 576px;
}

h1 {
  font-size: 24pt;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

label {
  font-size: 10pt;
  font-weight: bold;
}

input,
select {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid lightgrey;
  min-width: 300px;
}

input:invalid {
  border: 1px solid var(--error);
}

.error {
  color: var(--error);
  font-size: 8pt;
  text-align: left;
  margin-left: 8px;
}

button {
  margin-top: 16px;
  padding: 16px 32px;
  background-color: var(--button);
  color: white;
  border: none;
  border-radius: 8px;
}

button:hover {
  cursor: pointer;
  background-color: var(--button-hover);
}

.success {
  text-align: center;
  font-size: 10pt;
  padding: 0;
  background-color: var(--success);
  border-radius: 8px;
}
